body {
  background-image: url("https://www.fillmurray.com/284/196");
  background-color: gray;
  background-blend-mode: lighten;
  text-align: center;
  padding: 0em, 50em, 0em, 50em;
}


li {
  list-style: none;
}
h1 {
  background-color: white;
  border-right: 30%;
}

* {
  font-family: Tahoma;
  color: black;
}

footer {
  position: absolute;
  bottom: 10em;
}
