* {
  box-sizing: border-box;
  font-family: Tahoma, Sans-Serif;
}

/*
body {
  background-color: gray;
  background-blend-mode: lighten;
  text-align: center;
  padding: 0em, 50em, 0em, 50em;
}*/

h1 {
  text-align: center;
  margin: 0%, 0%, 5%, 0%;
  font-size: 2em;
}

/*
.nav {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: auto;
  }*/

body {
    width: 100%;
    margin: 0;
    font-family: Tahoma, Sans-Serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  }

.nav ul {
  list-style: none;
  background-color: #318bac;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #330e6a;
  display: block;
  transition: .3s white;
}

.nav a:hover {
  background-color: #330e6a;
  color: #318bac;
}

@media screen and (min-width: 600px) {
  .nav li {
    font-size: 1.2em;
    width: 33%;
    margin: -4px;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-bottom: none;
    display: inline-block;
  }
}

/*
li nav {
  margin: auto;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #318bac;
  border-radius: 5%;
  text-align: center;
  width: 30%;
  min-width: 30px;
  mid-height: 20px;
}*/

.name {
  background-color: #318bac;
  /*border-radius: 5%;*/
  color: #330e6a;
  margin: auto;
  display: inline;
}

.column {
  display: inline-block;
  width: 32.5%;
  background-color: #318bac;
  padding: 20px;
  height: 180px;
  margin: auto;
  vertical-align: middle;
  line-height: 90px;
  text-align: center;
  min-width: 30px;
  mid-height: 20px;
}

.column2 {
  display: inline-block;
  width: 49%;
  background-color: #318bac;
  padding: 20px;
  height: 180px;
  margin: auto;
  vertical-align: middle;
  line-height: 90px;
  text-align: center;
}


.subtitle {
  text-align: center;
}

.subtext {
  font-size: .6em;
}

.NPlists {
  display: inline-block;
  width: 32%;
  background-color: #318bac;
  padding: 20px;
  height: 180px;
  margin: 0px 0px 1% 0px;
  vertical-align: middle;
  line-height: 90px;
  text-align: center;
  font-family: Tahoma, Sans-Serif;

}

.NPlists:hover {
  content: url("glacier.jpg");
  width: 32%;
}

footer {
  margin: 10%; 0%; 5%; 0%;
  clear:both;
  text-align: middle;
  font-family: Tahoma, Sans-Serif;
}
